# Ignore wp files

/wp-*.php
/wp-admin
/wp-includes
/wp-content/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/uploads/*
/index.php
/.htaccess
/license.txt
/xmlrpc.php

# Keep some wp themes and plugins

!/wp-content/plugins/lsb-*/*
!/wp-content/themes/lsb-base-theme/*
/wp-content/themes/lsb-base-theme/**/*.temp.*

# Ignore other files

*.log
.DS_Store
node_modules
