[submodule "wp-content/plugins/soil"]
	path = wp-content/plugins/soil
	url = https://github.com/roots/soil.git
[submodule "wp-content/plugins/lsb-boksok-core"]
	path = wp-content/plugins/lsb-boksok-core
	url = git@github.com:lesersokerbok/lsb-boksok-core.git
[submodule "wp-content/plugins/lsb-frontpage-sections"]
	path = wp-content/plugins/lsb-frontpage-sections
	url = git@github.com:lesersokerbok/lsb-frontpage-sections.git
[submodule "wp-content/plugins/lsb-people"]
	path = wp-content/plugins/lsb-people
	url = git@github.com:lesersokerbok/lsb-people.git
[submodule "wp-content/plugins/lsb-boksok-bibsyst"]
	path = wp-content/plugins/lsb-boksok-bibsyst
	url = git@github.com:lesersokerbok/lsb-boksok-bibsyst.git
[submodule "wp-content/themes/lsb-theme-boksok"]
	path = wp-content/themes/lsb-theme-boksok
	url = https://github.com/lesersokerbok/lsb-theme-boksok
[submodule "wp-content/themes/lsb-theme-home"]
	path = wp-content/themes/lsb-theme-home
	url = git@github.com:lesersokerbok/lsb-theme-home.git
