.book-shelf {

	.book-shelf-body {
		position: relative;
		transform-style: preserve-3d;

		.book-shelf-left-scroll,
		.book-shelf-right-scroll  {
			color: @link-color;
			position: absolute;
			font-size: @font-size-h1;
			background: @body-bg;
			height: 100%;
			top: 0;
			z-index: 10;

			.glyphicon {
				cursor: pointer;
				top: 40%;
				opacity: 0.6;

				&:hover {
					opacity: 1;
				}
			}
		}

		.book-shelf-left-scroll {
			left: -@line-height-computed;
		}

		.book-shelf-right-scroll {
			right: -@line-height-computed;
		}

		.book-shelf-scroll {
			overflow-x: scroll;
			overflow-y: hidden;
			margin: -@line-height-computed/2 0;
			flex-wrap: nowrap;

			.summary.lsb_book {
				flex: 0 0 auto;

				&:last-child {
					padding-right: 0;
				}

				display: none;

				@media (max-width: (@screen-xs - 1)) {
					&:nth-child(1),
					&:nth-child(2) {
						display: inline-block;
					}
				}

				@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						display: inline-block;
					}
				}

				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						display: inline-block;
					}
				}

				@media (min-width: @screen-md-min) {
					width: 19.7%;
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5) {
						display: inline-block;
					}
				}
			}
		}

	}
}
