footer.content-info {
  margin-top: @line-height-computed*2;
  border: 1px solid @navbar-default-border;
  background-color: @navbar-default-bg;
  padding: @navbar-margin-bottom 0;

  .widget:first-child .page-header {
    margin-top: 0;
  }
}
