.banner.navbar {
	
  margin-top: @navbar-margin-bottom*2;
	margin-bottom: @navbar-margin-bottom*2;

	.navbar-collapse {
		&.in,
		&.collapsing {
			margin-top: @navbar-margin-bottom;
			overflow-y: hidden;
		}
	}

	.navbar-header {
		margin: 0;
	}
	
	nav {
		ul:first-child {
			margin-left: 1rem;
		}
	}

  .navbar-nav {
    text-align: center;
		margin: -2px;

		&.toggle {
			li a {
				border: 2px solid @brand-primary;
			}
		}

		> li {
			padding: 2px;
			display: inline-block;
			
			> a {
      	text-decoration: none;
      	font-weight: bold;
				border-bottom: 2px solid transparent;
    	}

			&.active a {
				border-color: @brand-primary;
			}

			a:hover, a:focus {
				border-color: @brand-primary;
				background: none;
				transition: all .25s ease-in-out
      }
		}

		li.external {
			a:hover, a:focus {
				color: @brand-primary;
				text-decoration: underline;
				border-color: transparent !important;
				background-color: transparent !important;
			}
		}

		li.menu-litt-a-lese {
			&.active a {
				border-color: @litt-a-lese;
			}
			
			a:hover, a:focus {
				border-color: @litt-a-lese;	
			}
  	}
		
		li.menu-enkelt-innhold {
			&.active a {
				border-color: @enkelt-innhold;
			}
			
			a:hover, a:focus {
				border-color: @enkelt-innhold;	
			}
  	}
		
		li.menu-storskrift {
			&.active a {
				border-color: @storskrift;
			}
			
			a:hover, a:focus {
				border-color: @storskrift;
			}
  	}
		
		li.menu-punktskrift-folebilder {
			&.active a {
				border-color: @punktskrift-folebilder;
			}
			
			a:hover, a:focus {
				border-color: @punktskrift-folebilder;
			}
  	}
		
		li.menu-tegnsprak-nmt {
			&.active a {
				border-color: @tegnsprak-nmt;
			}
			
			a:hover, a:focus {
				border-color: @tegnsprak-nmt;
			}
  	}
		
		li.menu-bliss-piktogram {
			&.active a {
				border-color: @bliss-piktogram;
			}
			
			a:hover, a:focus {
				border-color: @bliss-piktogram;
			}
  	}
  }

  .navbar-nav-brand {
    color: @brand-primary !important;
		margin-right: 1rem;

		.logo {
			position: absolute;
			top: 50%;
			left: -4px;
			transform: translateY(-50%);
			height: @logo-size;
			width: auto;

			.fill {
				fill: @brand-primary;
			}
		}
    
    &:hover, &:focus {
      background-color: transparent !important;
			border-color: transparent !important;
			color: @text-color !important;

			.logo .fill {
				fill: @text-color;
			}
    }
  }

	@media (min-width: @grid-float-breakpoint) {
		.navbar-nav {

			&.toggle {
				display: none;
			}
		}
	}
}
