.loop {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

	h1 {
		font-size: @font-size-h2;
	}

	h2 {
		font-size: @font-size-h3;
	}

	h3 {
		font-size: @font-size-h4;
	}

	h4 {
		font-size: @font-size-h5;
	}

	h5 {
		font-size: @font-size-h6;
	}

	.page-section-header {
		width: 100%;
	}

	.summary {
		width: 100%;
	}

	.summary.lsb_book {
		padding: @line-height-computed/2;
		display: inline-block;

		&:last-child {
			margin-right: auto;
		}

		@media (max-width: (@screen-xs - 1)) {
			width: 49.5%;
		}

		@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
			width: 32.8%;
		}

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			width: 24.6%;
		}

		@media (min-width: @screen-md-min) {
			width: 19.7%;
		}
	}
}
