.navbar-brand {
  text-decoration: none;
  font-weight: bold;
}

.container > .navbar-collapse {
  @media (max-width: @grid-float-breakpoint) {
    margin-top: 10px;
  }
  
  @media (min-width: @container-sm) {
    margin-left: @logo-size/4;
    margin-right: @logo-size/4;
  }
}

.navbar-nav {
  
  @media (max-width: @grid-float-breakpoint) {
    margin-top: 0;
  }
  
  > li > a {
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  .external a:after {
    .glyphicon;
    content: "\e164";
    font-size: 85%;
    margin-left: 5px;
  }
  
  &.icon-nav {
    
    @media (min-width: @grid-float-breakpoint) {
      .pull-right;
    }
    
    .icon-menu-item {
      font-size: 140%;
      color: lighten(@link-color, 46.7%);
      float: left;
      
      &:hover {
        background-color: transparent;
        text-decoration: none;
      }

      @media (min-width: @grid-float-breakpoint) {
        padding-left: 5px;
        padding-right: 5px;
        float: none;
      }

      span {
        .sr-only;
      }
    }

    .social-menu-item {
      .icon-menu-item;
      .social;
    }

    a[href*="twitter"] {
      .social-menu-item;
      .social.twitter;
    }

    a[href*="facebook"] {
      .social-menu-item;
      .social.facebook;
    }

    a[href*="instagram"] {
      .social-menu-item;
      .social.instagram;
    }

    a[href*="pinterest"] {
      .social-menu-item;
      .social.pinterest;
    }

    a[href*="vimeo"] {
      .social-menu-item;
      .social.vimeo;
    }

    a[href*="youtube"] {
      .social-menu-item;
      .social.youtube;
    }

    .info a {
      .icon-menu-item;

      .glyphicon;
      .glyphicon-info-sign;
    }
  } 
}