.navbar {
  a {
    text-decoration: none;
  }

  .navbar-nav {
    margin-top: 1px;
  }

  .icon-menu-item() {

    font-size: 140%;
    float: left;

    @media (min-width: @grid-float-breakpoint) {
      padding-left: 5px;
      padding-right: 5px;
      float: none;
    }

    span {
      .sr-only;
    }
  }

  .social-menu-item() {
    .icon-menu-item;
    .social;
  }

  .icon-nav {

    a[href*="twitter"] {
      .social-menu-item;
      .social.twitter;
    }

    a[href*="facebook"] {
      .social-menu-item;
      .social.facebook;
    }

    a[href*="instagram"] {
      .social-menu-item;
      .social.instagram;
    }

    a[href*="pinterest"] {
      .social-menu-item;
      .social.pinterest;
    }

    a[href*="vimeo"] {
      .social-menu-item;
      .social.vimeo;
    }

    a[href*="youtube"] {
      .social-menu-item;
      .social.youtube;
    }

    .info a {
      .icon-menu-item;

      .glyphicon;
      .glyphicon-info-sign;
    }
  }
}
