.hentry {

  .entry-title a {
    text-decoration: none;
  }

  .entry-meta {
    font-size: smaller;
    border-left: 1px solid @navbar-default-border;
    padding-left: @line-height-computed/2;
  }

}
