.hentry {
  
  .entry-meta {
    .lsb-meta;
  }
  
  &.post {
    .wp-post-image {
      margin: 0 0 @line-height-computed;
      max-width: 500px;
    }
  }
}

.loop article {
  margin-bottom: @line-height-computed*2;
  header {
    margin-bottom: @line-height-computed;
  }
}
