/*!
 * Roots 6.5.2
 */

/* ==========================================================================
   Layout
   ========================================================================== */

body {
  // .fixed-navbar-body-padding;
}

/* ==========================================================================
   Base
   ========================================================================== */

.panel {

  p:last-child {
    margin-bottom: 0
  }

}

.page-header {
  margin-bottom: @line-height-computed*1.5
}

/* ==========================================================================
   Content
   ========================================================================== */

.book-search {

  form {
    margin-bottom: @navbar-margin-bottom;
    margin-top: @navbar-margin-bottom;
  }

  .filter {
    .btn;
    .btn-default;
    .btn-lg;
    display: block;
    text-align: left;
  }

}

article.lsb_book {

  p, blockquote {
    // margin: 15px auto;
  }

  blockquote {
    font-size: @font-size-base;
    border-color: @brand-primary;
    border-width: 2px;
  }

  .thumbnail .missing-cover {
    background: #f8f8f8;
    height: 500px;
  }

  .lsb-supported {
    background: @panel-body-padding 50% no-repeat;
    padding-left: @panel-body-padding*2+30px;

    &.litt-a-lese {
      background-image: url('../img/logo_trans_purple.png');
    }

    &.enkelt-innhold {
      background-image: url('../img/logo_trans_green.png');
    }

    &.bliss-piktogram {
      background-image: url('../img/logo_trans_blue.png');
    }

    &.punktskrift-folebilder {
      background-image: url('../img/logo_trans_orange.png');
    }

    &.tegnsprak-nmt {
      background-image: url('../img/logo_trans_red.png');
    }

    &.storskrift {
      background-image: url('../img/logo_trans_yellow.png');
    }
  }
}

/* ==========================================================================
   Archives
   ========================================================================== */

article.summary.lsb_book {

  padding: 0 @line-height-computed @line-height-computed 0;
  text-align: center;

  h2 {
    font-size: @font-size-base;
    margin: 12px 0 6px;
  }

  .entry-image {
    text-align: center;
    width: 100%;

    .missing-cover {
      height: 250px;
    }
  }

  .meta, h2 {
    font-size: @font-size-small;
    text-align: left;
  }
}

.archive, .search {
  .loop {
    margin-right: -@line-height-computed;

    article.summary.lsb_book {
      width: 20%;
      float: left;
      padding-bottom: @line-height-computed*2;

      &:nth-of-type(5n) {
        clear: right;
      }

      &:nth-of-type(5n+1) {
        clear: left;
      }
    }
  }
}

/* ==========================================================================
   Frontpage list horizontal scrolling
   ========================================================================== */

.book-section {
  white-space: nowrap;

  .book-section-header {
    white-space: normal;
  }

  .book-section-body {
    position: relative;
    transform-style: preserve-3d;

    .book-section-left-scroll,
    .book-section-right-scroll  {
      color: @link-color;
      position: absolute;
      top: 30%;
      font-size: @font-size-h1;
      opacity: 0.5;
      cursor: pointer;

      display: none;

      &:hover {
        opacity: 0.9;
      }
    }

    .book-section-left-scroll {
      transform: translateX(-110%);
      left: 0;
    }

    .book-section-right-scroll {
      transform: translateX(110%);
      right: 0;
    }

    .book-section-scroll {
      overflow-x: scroll;
      overflow-y: hidden;

      article.summary.lsb_book {
        display: inline-block;
        white-space: normal;
        vertical-align: top;

        &:last-child {
          padding-right: 0;
        }
      }
    }

  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer.page-footer {
  clear: both;
  border-width: 1px 0 0;
  background-color: #f8f8f8;
  border-color: #e7e7e7;

  margin-top: 22px;
  padding-top: 30px;

}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-sm-max) {

  .archive article {
    width: auto;
  }

  .single article {

    .entry-image, header, .entry-content {
      width: 100%;
      float: none;
    }

  }
}

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
