.is-scroll-area {
  @media (min-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.lsb_scroll-button {
  .btn;
  .btn-primary;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  outline: none !important;
  font-size: 2rem;
  display: none;

  &.is-left {
    left: 0;
    transform: translateX(-50%);
  }

  &.is-right {
    right: 0;
    transform: translateX(50%);
  }
}
