.lsb_breadcrumbs {
	max-width: 768px;
	margin: 3rem auto;
}

.lsb_breadcrumbs__item {
	text-decoration: none !important;
	display: inline;

	span {
		display: inline-block;
		&:first-letter {
    	text-transform: uppercase;
  	}
	}

	&:not(.is-active) {
		&:not(:first-child) {

			color: @text-muted;

			span {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&:before {
		color: @text-muted;
		content: "/ ";
	}

	&.is-active {
		.text-muted;
	}

	&:first-child {
		text-transform: uppercase;
		font-weight: @headings-font-weight;

		&:before {
			content: "";
		}

		&:not(.is-active) {
			span:hover {
				text-decoration: underline;
			}
		}
	}
}
