.lsb_entry {
	.clearfix;
}

.lsb_entry__header,
.lsb_entry__body,
.lsb_entry__footer {
	max-width: 768px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.lsb_entry__header {
	.page-header;
}

.lsb_entry__title {
	.h1;
	margin: 0;
}

.lsb_entry__footer {
	margin-top: 3rem;
	&:before {
		content: '';
		display: block;
		width: 100%;
		max-width: 5rem;
		height: 1px; // suit your need
		background: @gray-lighter; // suit your need
		margin-bottom: 1rem;
	}
}

.lsb_entry__thumbail {
	.thumbnail;
	float: right;
	margin-top: @font-size-h1/2;
	margin-left: @padding-large-vertical;
	margin-bottom: @line-height-computed;
	max-width: 40%;
}

.lsb_entry.is-lsb_reading_guide {
	h2 {
		text-transform: uppercase;
		font-size: 100%;
	}

	p a:first-child:last-child {
		.has-right-arrow;
		margin: 0.5em 0;
		display: inline-block;
	}
}
