.is-button {
  .btn;
  .btn-default;
  text-decoration: none;
  white-space: normal;
  padding: 0.5em 1em;

  &.is-active {
    border-color: currentColor;
  }

  &.social {
    &:before {
      top: 2px;
      position: relative;
      transform: scale(1.2);
      color: @gray;
    }
  }

  .is-lsb_icon {
    margin: -0.5em 0;
    max-height: 2em;
    &:first-child {
      margin-right: 0.5em;
    }
    &:last-child {
      margin-left: 0.5em;
    }
  }
}

.is-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: inherit;

  .is-signs & {
    font-weight: bold;
  }
}

.is-rtl {
  direction: rtl;
}

.has-right-arrow,
.has-left-arrow {
  transition: margin 0.2s ease-in-out;

  &:after,
  &:before {
    .glyphicon;
    display: inline-block;
    color: @brand-primary;
    font-size: 0.8em;
    transition: margin 0.2s ease-in-out;
  }
}

.has-right-arrow {
  &:after {
    content: "\e080";
    font-size: 0.8em;
    margin-left: 0.5rem;
  }

  &:hover {
    margin-right: -0.5rem;
  }

  &:hover:after {
    margin-left: 1rem;
  }
}

.has-left-arrow {
  &:before {
    content: "\e079";
    font-size: 0.8em;
    margin-right: 0.5rem;
  }

  &:hover {
    margin-left: -0.5rem;
  }

  &:hover:before {
    margin-right: 1rem;
  }
}

.is-content {
  > * {
    max-width: 512px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    .page-header;
  }

  h2 {
    .h4;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    .h5;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p,
  ul {
    margin: 1rem 0;
  }

  hr {
    margin:  2rem 0;
    max-width: 5rem;
  }
}
