/* ==========================================================================
	 LSB Book specific styling
	 ========================================================================== */

.book-shelf {

	.book-shelf-body {
		white-space: nowrap;
		position: relative;
		transform-style: preserve-3d;

		.book-shelf-left-scroll,
		.book-shelf-right-scroll  {
			color: @link-color;
			position: absolute;
			top: 30%;
			font-size: @font-size-h1;
			opacity: 0.5;
			cursor: pointer;

			display: none;

			&:hover {
				opacity: 0.9;
			}
		}

		.book-shelf-left-scroll {
			transform: translateX(-110%);
			left: 0;
		}

		.book-shelf-right-scroll {
			transform: translateX(110%);
			right: 0;
		}

		.book-shelf-scroll {
			overflow-x: scroll;
			overflow-y: hidden;
			margin-left: -@line-height-computed/2;
			margin-top: -@line-height-computed/2;

			article.summary.lsb_book {
				display: inline-block;
				white-space: normal;
				vertical-align: top;
				max-width: 400px;

				&:last-child {
					padding-right: 0;
				}

				@media (max-width: @screen-sm-max) {
					max-width: 180px;

					a.thumbnail {
						margin-bottom: 0;
					}
				}
			}
		}

	}
}

article.lsb_book {

	.lsb-supported {

		&.purple {
			fill: @lsb-purple;
		}

		&.green {
			fill: @lsb-green;
		}

		&.blue {
			fill: @lsb-blue;
		}

		&.orange {
			fill: @lsb-orange;
		}

		&.red {
			fill: @lsb-red;
		}

		&.yellow {
			fill: @lsb-yellow;
		}

		.panel-body {
			display: flex;
			align-items: center;

			.logo {
				margin-right: 10px;
				height: 35px;
				width: auto;
			}
		}
	}
}

article.summary.lsb_book {

	padding: @line-height-computed/2;
	text-align: center;

	h2 {
		margin: 12px 0 6px;
		font-weight: bold;
		font-size: @font-size-h5;
		text-align: left;
	}

	.entry-image {
		text-align: center;
		width: 100%;
		position: relative;

		.lsb-supported {
			background-color: white;
			padding: 5px;
			height: 40px;
			width: 40px;
			border-top-left-radius: @thumbnail-border-radius;
			position: absolute;
			right: @thumbnail-padding/2;
			bottom: @thumbnail-padding/2;
		}
	}

	.meta {
		font-size: @font-size-small;
		text-align: left;
	}
}
