.navbar {
	margin-bottom: 0;
}

.navbar.navbar-static-top + .navbar.navbar-static-top {
	z-index: auto;
}

.navbar .lsb-search-form {
	padding-top: 23px; // TODO: Make dynamic
	max-width: @screen-sm-min;

	input {
		font-size: 0.9em;
	}
}

.navbar-header .navbar-right {
	float: right;
	margin-right: 15px;

	@media (min-width: @grid-float-breakpoint) {
		display: none;
	}
}

.lsb-navbar-btn-action {
	&:focus:active {
		outline: 0 !important;
	}
}

.lsb-navbar-btn-action {
	&:not(.collapsed) {
		.btn.active;
		background-color: @navbar-default-link-active-bg;
	}
}

.navbar-nav {

	@media (max-width: @grid-float-breakpoint-max) {
		margin-left: 0;
		margin-right: 0;
	}

	a:focus {
		background: transparent;
	}

	span.nav-item-description {
		display: none;
	}
}

.lsb-navbar-site {
	// Colored top border
	border-top: 3px solid @brand-primary;
	background-color: @navbar-site-bg;

	.term-litt-a-lese &,
	.filter-litt-a-lese & {
		border-top-color: @litt-a-lese;
	}

	.term-enkelt-innhold &,
	.filter-enkelt-innhold & {
		border-top-color: @enkelt-innhold;
	}

	.term-storskrift &,
	.filter-storskrift & {
		border-top-color: @storskrift;
	}

	.term-punktskrift-folebilder &,
	.filter-punktskrift-folebilder & {
		border-top-color: @punktskrift-folebilder;
	}

	.term-tegnsprak-nmt &,
	.filter-tegnsprak-nmt & {
		border-top-color: @tegnsprak-nmt;
	}

	.term-bliss-piktogram &,
	.filter-bliss-piktogram & {
		border-top-color: @bliss-piktogram;
	}

	.navbar-brand {
		display: flex;
		align-items: center;
		color: @brand-primary !important;
		text-transform: uppercase;
		font-weight: 600;
		font-size: ceil((@font-size-base * 1.1)); // ~18px

		.logo {
			height: @navbar-height*0.5;
			width: @navbar-height*0.5;
			fill: @brand-primary;
			margin-right: @navbar-height*0.1;
		}
	}

	.lsb-search-form .input-group {
		padding-left: 15px;
	}


	@media (max-width: @grid-float-breakpoint-max) {

		.lsb-search-form {
			display: none !important;
		}
	}
}

.lsb-navbar-search {

	.lsb-search-form {
		margin: 0 auto;
	}

	@media (min-width: @grid-float-breakpoint) {
		display: none !important;
	}
}

.lsb-navbar-breadcrumbs {

	min-height: 0;
	background: @navbar-page-bg;

	* {
		margin-top: @line-height-computed/2;
		margin-bottom: @line-height-computed/2;
	}
}

.lsb-navbar-page {

	background: @navbar-page-bg;
	padding: 20px 0;

	.lsb_menu__link:hover {
		background-color: @navbar-page-link-hover-bg;
	}
}
