.tax-navigation {

  ul {
    list-style: none;
    padding: 0;

    margin: -0.5em;

    li {
      display: inline-block;
      margin: 0.5em;

      a {
        .btn;
        .btn-default;

        text-decoration: none;

        box-sizing: content-box;
        padding: 7px 20px 5px;
        line-height: 41px;

        img {
          height: 40px;
          margin-left: -@line-height-computed/2;
          margin-right: @line-height-computed/4;
        }
      }
    }
  }
}
