{% block subheader %}
	<nav class="lsb_breadcrumbs">
		{% if title.link %}
			<a href="{{ title.link }}" class="lsb_breadcrumbs__item">{{ title.text }}</a>
		{% else %}
			<span class="lsb_breadcrumbs__item">{{ title }}</span>
		{% endif %}
	</nav>
{% endblock %}

{% block content %}
	CONTENT
{% endblock %}
