<nav class="lsb_breadcrumbs">
	{% for item in items %}
		{% if item.active %}
			<span class="lsb_breadcrumbs__item is-active"><span>{{ item.title }}</span></span>
		{% else %}
			<a href="{{ item.url }}" class="lsb_breadcrumbs__item"><span>{{ item.title }}</span></a>
		{% endif %}
	{% endfor %}
</nav>