<article class="lsb_entry is-archive">

	{% if not hide_title %}
	<div class="lsb_entry__header">
		<h1 class="lsb_entry__title">{{ title }}</h1>
	</div>
	{% endif %}

	{% if description %}
		<div class="lsb_entry__body is-content">
			{{ description }}
		</div>
	{% endif %}

	{% if sections %}
		{% for section in sections %}
			{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
		{% endfor %}
	{% else %}
		<section class="lsb_section is-{{ post_type }}">
			<div class="lsb_section__body">
				{% for post in posts %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
			</div>
		</section>
	{% endif %}
	
</article>
