<article class="lsb_entry is-archive">

	{% if not hide_title %}
	<div class="lsb_entry__header">
		<h1 class="lsb_entry__title">{{ title }}</h1>
	</div>
	{% endif %}

	{% if description %}
		<div class="lsb_entry__body is-content">
			{{ description }}
		</div>
	{% endif %}

	{% for section in post.sections %}
		{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
	{% endfor %}

	{% if sections %}
		{% for section in sections %}
			{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
		{% endfor %}
	{% else %}
		{% set layout = 'lsb_book' == post_type ? 'card' : 'teaser' %}
		<section class="lsb_section is-lsb_{{ layout }}">
			<div class="lsb_section__body">
				{% for post in posts %}
					{% include [''~layout~'-'~post.post_type~'.twig', ''~layout~'.twig'] %}
				{% endfor %}
			</div>
		</section>
	{% endif %}

</article>
