<nav class="lsb_pagination">
	{% if prev %}
		<a class="lsb_pagination__item is-prev" href="{{ prev.link }}">
			<span>{{ prev.title | default(__('Nyere innlegg', 'lsb')) }}</span>
		</a>
	{% endif %}
	{% if next and prev and next.title and prev.title %}
	{% endif %}
	{% if next %}
		<a class="lsb_pagination__item is-next" href="{{ next.link }}">
			<span>{{ next.title | default(__('Eldre innlegg', 'lsb')) }}</span>
		</a>
	{% endif %}
</nav>
