<button aria-hidden="true" tabindex="-1" data-scroll="left" class="lsb_scroll-button is-left">
  <span class="glyphicon glyphicon-chevron-left"></span>
</button>
<button aria-hidden="true" tabindex="-1" data-scroll="right" class="lsb_scroll-button is-right">
  <span class="glyphicon glyphicon-chevron-right"></span>
</button>