<section class="lsb_section is-{{ section.post_type }}">
	<div class="lsb_section__header">
		<h2 class="lsb_section__title">
			<a href="{{ section.link }}"><span>{{ section.title }}</span> <span>{{ section.subtitle }}</span></a>
		</h2>
	</div>
	<div class="lsb_section__body">
		{% for post in section.posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] with {'h_size': 'h3'} %}
		{% endfor %}
	</div>
</section>
