<section class="lsb_section is-menu">
	<div class="lsb_section__header">
		<h2 class="lsb_section__title">
			<span>{{ section.title }}</span> <span>{{ section.subtitle }}</span>
		</h2>
	</div>
	<div class="lsb_section__body">

	{% include ['menu.twig'] with { 'items': section.menu.items, 'style': 'pills' } %}
	
	</div>
</section>