{% extends "section.twig" %}

{% block body_class %}
is-narrow
{% endblock %}

{% block body %}
	<p class="h2">{{ section.text }}</p>
	{% if section.action %}
	<a class="is-button has-right-arrow" href="{{ section.action.link.url }}">
		<span>{{ section.action.text }}</span>
	</a>
	{% endif %}
{% endblock %}