/*!
 * Roots 6.5.2
 */


/* ==========================================================================
	 Frontpage Section
	 ========================================================================== */

.frontpage-section {

	margin-top: @line-height-computed*3;

	&:first-child {
		margin-top: @line-height-computed*2;
	}

	&.frontpage-section-grid + .frontpage-section-grid {
		margin-top: @line-height-computed*2;
	}

	.section-header {
		.page-header;
		padding-bottom: 0;
	}

	&.frontpage-section-intro {

		.intro-text {
			margin-bottom: @line-height-computed * 2;
		}

		@media (min-width: @screen-md-min) {
			display: flex;
			align-content: center;

			.intro-text {
				display: flex;
				align-items: center;
				order: 2;
				margin: 0;
			}

			.embed {
				width: 100%;
				margin-right: @padding-large-horizontal*2;
				order: 1;
			}
		}
	}

	&.frontpage-section-grid {

		.panel-heading {
			font-weight: bold;
		}

		.embed {
			width: 100%;
		}

		@media (min-width: @screen-sm-min) {
			.block-wrapper {
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				margin: -@padding-large-horizontal;
				justify-content: center;

				>.block {
					padding: @padding-large-horizontal;
					width: 50%;
					display: flex;

					.panel {
						margin: 0;
						flex-grow: 1;
					}
				}
			}
		}

		@media (min-width: @screen-md-min) {
			.block-wrapper {
				>.block {
					width: 33.33%;

					// If only four blocks
					&:nth-child(1):nth-last-child(4),
					&:nth-child(2):nth-last-child(3),
					&:nth-child(3):nth-last-child(2),
					&:nth-child(4):nth-last-child(1),{
						width: 25%;
					}

					// If only one block
					&:nth-child(1):nth-last-child(1) {
						width: 50%;
					}
				}
			}
		}
	}

	&.frontpage-section-lsb_book_feed,
	&.frontpage-section-normal_feed,
	&.frontpage-section-posts {

		.rss-post {

			margin-bottom: @jumbotron-padding;
			&:last-child {
				margin-bottom: 0;
			}

			h3 {
				font-size: ceil((@font-size-base * 1.125));
			}

			.rss-meta {
				.lsb-meta;
			}

			.rss-summary {
				overflow-x: hidden;
			}

			.rss-image {
				overflow: hidden;

				img {
					display: inline-block;
					width:100%;
					max-height: 100%;
				}

				@media (min-width: @screen-md-min) {
					text-align: center;
					height: 200px;

					img {
						width: auto;
					}
				}

			}
		}
	}
}

/* ==========================================================================
	 Base
	 ========================================================================== */

/* ==========================================================================
	 Content
	 ========================================================================== */

/* ==========================================================================
	 Footer
	 ========================================================================== */

/* ==========================================================================
	 Posts
	 ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


/* ==========================================================================
	 Person
	 ========================================================================== */

.person {

		img {
			display: none;
		}

		h2 {
			margin-top: @line-height-computed/2;
			font-size: @font-size-h3
		}

		h3 {
			margin-top: 0;
			font-size: @font-size-h4
		}

		.contact-info {
			font-weight: @headings-font-weight;
		}

		@media (min-width: @screen-md-min) {

			img.above {
				display: block;
				width: 35%;
				float:left;
			}

			h2, h3, p, ul {
					margin-left: 35%;
					padding-left: @panel-body-padding*1.5;
			}

			ul {
				padding-left: @panel-body-padding*2.5;
			}
		}

		@media (max-width: @screen-sm-max) {

			img.below {
				display: block;
				margin-top: @line-height-computed;
			}

		}
}

/* ==========================================================================
	 Footer
	 ========================================================================== */

.content-info { }


/* ==========================================================================
	 Media Queries
	 ========================================================================== */

@media (max-width: @screen-sm-max) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
