/*!
 * Roots 6.5.2
 */

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Frontpage Section
   ========================================================================== */

.page-template-template-frontpage-php {
  .jumbotron {
    text-align: center;

    :last-child {
      margin-bottom: 0;
    }
  }

  .services {

    a {
      color: @text-color;

      h1 {
        color: @link-color;
        text-decoration: underline;
      }

      &:hover h1 {
        color: @text-color;
      }
    }

    .service {
      text-align: center;
      padding: 0 @panel-body-padding;
      h1 {
        font-size: ceil((@font-size-base * 1.125));
      }
    }
  }
}

/* ==========================================================================
   Base
   ========================================================================== */

/* ==========================================================================
   Content
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-sm-max) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
