// Colors
// -------------------------

@lsb-brand:     #356584;
@lsb-purple:    #91127d;
@lsb-green:     #7ab51d;
@lsb-yellow:    #fed501;
@lsb-orange:    #f29400;
@lsb-red:       #d30132;
@lsb-blue:      #51b4db;

@brand-primary: @lsb-brand;
@brand-darker: 	#264960;

@lsb-category-colors: lsb-purple, lsb-green, lsb-yellow, lsb-orange, lsb-red, lsb-blue;

// LSB category colors:
@litt-a-lese:             @lsb-purple;
@enkelt-innhold:          @lsb-green;
@storskrift:              @lsb-yellow;
@punktskrift-folebilder:  @lsb-orange;
@tegnsprak-nmt:           @lsb-red;
@bliss-piktogram:         @lsb-blue;

// Typography
// -------------------------

@font-size-base: 16px;
@font-size-large: 1.25em; // relative to current font size
@font-size-small: 0.875em; // relative to current font size

@font-size-h1: 2.25rem;		// ~36px
@line-height-h1: 2.5rem;	// ~40px
@margin-top-h1: 2.5rem;		// ~40px

@font-size-h2: 2rem;			// ~32px
@line-height-h2: 2.5rem;	// ~40px
@margin-top-h2: 1.5rem;	// ~24px

@font-size-h3: 1.5rem;		// ~24px
@line-height-h3: 2rem;		// ~32px
@margin-top-h3: 1.5rem;	// ~24px

@font-size-h4: 1rem;			// ~16px
@line-height-h4: 1.5rem;	// ~24px
@margin-top-h4: 1.5rem;	// ~24px

@font-size-h5: 1rem;			// ~16px
@line-height-h5: 1.5rem;	// ~24px
@margin-top-h5: -0.5rem;		// ~16px

@font-size-h6: 0.875rem;			// ~16px
@line-height-h6: 1.5rem;	// ~24px
@margin-top-h6: -0.5rem;			// ~16px

@line-height-base: 1.5;
@line-height-computed: @font-size-base * @line-height-base;
@headings-line-height: 1;

// Grid
// -------------------------

@grid-float-breakpoint: 1090px;

// Fonts
// -------------------------

@link-color: @brand-darker;

// Components

@border-radius-base: 2px;

// Navbar
// -------------------------

@navbar-height: 80px;
@navbar-default-link-color: @text-color;
@navbar-default-brand-hover-bg: darken(@navbar-default-bg, 3.5%);
@navbar-default-link-hover-bg: darken(@navbar-default-bg, 3.5%);
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-border: darken(@navbar-default-bg, 10%);

@navbar-site-bg: white;
@navbar-page-bg: #FAF9F5;
@navbar-page-link-hover-bg: darken(@navbar-page-bg, 3.5%);


// Dropdowns
// -------------------------

@dropdown-link-hover-bg: transparent;

// Max text width for optimal 60-70 charachters when font is 14x.
@max-text-width: 450px;
@max-search-form-width: 400px;
