// Colors
// -------------------------

@lsb-brand:     #356584;
@lsb-purple:    #91127d;
@lsb-green:     #7ab51d;
@lsb-yellow:    #fed501;
@lsb-orange:    #f29400;
@lsb-red:       #d30132;
@lsb-blue:      #51b4db;

@brand-primary: @lsb-brand;
@brand-darker: 	#264960;

@lsb-category-colors: lsb-purple, lsb-green, lsb-yellow, lsb-orange, lsb-red, lsb-blue;

// LSB category colors:
@litt-a-lese:             @lsb-purple;
@enkelt-innhold:          @lsb-green;
@storskrift:              @lsb-yellow;
@punktskrift-folebilder:  @lsb-orange;
@tegnsprak-nmt:           @lsb-red;
@bliss-piktogram:         @lsb-blue;

// Typography
// -------------------------

@font-size-base: 16px;
@font-size-h1: floor((@font-size-base * 2.25));
@line-height-base: 1.5;

// Grid
// -------------------------

@grid-float-breakpoint: 1090px;

// Fonts
// -------------------------

@link-color: @brand-darker;

// Components

@border-radius-base: 2px;
@padding-large-vertical: 2rem;

// Navbar
// -------------------------

@navbar-height: 80px;
@navbar-default-link-color: @text-color;
@navbar-default-brand-hover-bg: darken(@navbar-default-bg, 3.5%);
@navbar-default-link-hover-bg: darken(@navbar-default-bg, 3.5%);
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-border: darken(@navbar-default-bg, 10%);

@navbar-site-bg: white;
@navbar-page-bg: #FAF9F5;
@navbar-page-link-hover-bg: darken(@navbar-page-bg, 3.5%);


// Dropdowns
// -------------------------

@dropdown-link-hover-bg: transparent;

// Max text width for optimal 60-70 charachters when font is 14x.
@max-text-width: 450px;
@max-search-form-width: 400px;
